:root {
  --background: #4e0909;
  --foreground: #fff;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: var(--background);
}

p {
  color: var(--foreground);
  background-color: var(--background);
}
